.box{
    background-color: blue;
    height: 100px;
    width: 100px;
    padding: 10px;

    position: sticky ;
    top: 50px;
    left: 200px;
    z-index: -1;
    
}

.link{

    background-color: blue;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.link:hover{

    background-color: brown;
    font-size: larger;
    font-weight: bolder;

}

.link:active{
    
    color: aqua;
    background-color: black;
}